*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}


body{
  overflow-x: hidden;
}

.front{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.front img{
  width: 12%;
  height: 120px;
  margin-top: -15px;
}

.navbar{
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
}

.navbar li{
  list-style: none;
}

.navbar li a{
  text-decoration: none;
  color: black;
  margin-left: 50px;
}

.contact-us{
  margin-top: 30px;
  margin-left: 0;
  margin-right: 120px;
}

.contact-us a{
  text-decoration: none;
  color: black;
  background-color: #D1D1D1;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
}

.bg{
  background-color: #EFEFEF;
}

.bg1{
  background-color: #E4E4E4;
  padding-bottom: 120px;
}

.contact-sonic{
  text-align: center;
  padding: 50px;
}

.contact-sonic h2{
  font-size: 3rem;
}

.contact-sonic p{
  font-size: 1rem;
  margin: 0 200px;
}

.circle-overlay {
  width: 60px; /* Adjust the size of the circle image */
  height: 60px; /* Adjust the size of the circle image */
  border-radius: 50%;
  overflow: hidden;
  background-color: #008736;
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the circle image is fully contained within the circle */
  padding: 15px;  
}

.phone, .email, .address{
  display: flex;
  padding-bottom: 30px;
  transition: transform 0.3s ease;  /* Smooth transition for the zoom effect */
}

.phone:hover, .email:hover, .address:hover{
  transform: scale(1.1); /* Zoom in by 20% on hover */
}

.get-in{
  margin-top: 70px;
  margin-left: 50px;
}

.get-in h2{
  font-size: 2rem;
}

.get-in #get{
  font-size: 1rem;
  max-width: 90%;  
}

.phone{
  margin-top: 50px;
}

.phone-content, .email-content, .address-content{
  margin-top: 6px;
  padding-left: 5px;
}

.phone-content p, .email-content p, .address-content p{
  font-size: 0.8rem;
}

.divider {
  width: 40%; /* Adjust the width as needed */
  height: 2px; /* Thickness of the line */
  background-color: #000; /* Color of the line */
  margin-bottom: 40px;
}

.icon{
  display: flex;
  gap: 20px;
}

.icon .circle-overlay{
  transition: transform 0.3s ease;  /* Smooth transition for the zoom effect */
}

.icon .circle-overlay:hover{
  transform: scale(1.1); /* Zoom in by 20% on hover */
}

.info{
  display: flex;
}


.form h2{
  font-size: 2rem;
  padding-bottom: 15px;
}

.form{
  margin-top: 100px;
  margin-right: 100px;
  border-radius: 20px;
  background-color: white;
  width: 80%;
  padding: 40px;
}

/* Input field without the box, only a line underneath */
input[type="text"] {
  width: 90%; /* Makes input stretch to full container width */
  padding-top: 30px;
  border: none; /* Remove the default border */
  border-bottom: 2px solid #797979; /* Underline the input */
  outline: none; /* Remove focus outline */
  background-color: transparent; /* Transparent background */
  font-size: 0.9rem;
  color: #797979;
}

input[type="text"]:focus {
  border-bottom: 2px solid #008736; /* Change underline color on focus */
}

.form p{
  padding-top: 40px;
  text-align: center;
  color: #696969;
}

.form button{
  margin-left: 250px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  background-color: #008736;
  padding: 8px 50px; 
  border-radius: 40px;
  font-size: 1.5rem;
  color: white;
  transition: background-color 0.3s ease; /* For smooth background transition */
}

.form button:hover{
  background-color: #B4B4B4;
}

.bg3{
  background-color: #EFEFEF;
}

.map{
  display: flex;
  justify-content: center;
}

.map img{
  width: 65%;
  height: 320px;
  position: relative;
  bottom: 60px;
}

.contact{
  text-align: center;
  color: white;
  padding-top: 30px;
}

.information{
  display: flex;
  margin-top: 40px;
}

.connect{
background-color: black;
padding-bottom: 5px;
}

.logo1{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: #F7F7F7;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.2);
}

.logo1 img{
  width: 30%;
  height: 250px;
}

.icons{
  background-color: #3F4346;
  margin-left: 10px;
  display: flex;
}

.icons a{
  padding: 10px;
}

.icons img{
  width: 30px;
  height: 30px;
}

input::placeholder {
  color: white;
}

input[placeholder="Enter your email address"]{
  background-color: #3F4346;
  font-size: 0.8rem;
  width: 35%;
  margin-left: 5px;
  color: white;
  padding: 5px;
}

input[placeholder="Write your message"]{
  background-color: #1E2126;
  padding: 5px;
  font-size: 0.8rem;
  width: 45%;
  margin-left: 5px;
  color: white;
}

.send{
  border: 2px solid white;
  padding: 15px;
  font-size: 0.9rem;
  background-color: black;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.connect h6{
  text-align: center;
  color: white;
  margin-top: 100px;
}

.power a{
  color: royalblue;
  text-decoration: none;
}

#name::placeholder, #mail::placeholder, #sms::placeholder{
  color: #797979;
}

/* Responsive Design */
@media only screen and (min-width: 320px) and (max-width: 400px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 16%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 10px;
    font-size: 7px;
  }
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 8px;
  }  
}


@media only screen and (min-width: 401px) and (max-width: 480px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 16%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 11px;
    font-size: 10px;
  }
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 10px;
  }  

}

@media only screen and (max-width: 480px) {

.contact-sonic{
  padding: 20px;
}

.contact-sonic h2 {
  font-size: 1.5rem;
}

.contact-sonic p{
  font-size: 0.8rem;
  margin: 0;
}

.info{
  display: flex;
  flex-direction: column;
}

.get-in{
  margin-top: 0;
}

.get-in h2 {
  font-size: 1.5rem;
  margin-left: 0;
}

.get-in #get {
font-size: 0.8rem;
max-width: 100%;
}

.circle-overlay{
height: 40px;
width: 40px;
}

.circle-overlay img{
padding: 10px;
}

.phone-content h5, .phone-content p, .email-content h5, .email-content p, .address-content h5, .address-content p{
font-size: 0.6rem;
}

.phone {
margin-top: 15px;
}

.phone, .email, .address{
padding-bottom: 20px;
}

.divider{
  width: 40%;
  margin-bottom: 10px;
}

.form{
  width: 92%;
  padding: 25px;
  margin-left: 10px;
  margin-top: 25px;
}

.form h2 {
  font-size: 1.5rem;
  padding-bottom: 0px;
}

input[type="text"] {
  width: 90%;
  padding-top: 20px;
  font-size: 0.6rem;
}

.form p{
  padding-top: 20px;
  font-size: 0.7rem;
}

.form button{
  margin-left: 36%;
  width: 40%;
  max-width: none;
  margin-top: 20px;
  padding: 3px 14px;
  font-size: 0.9rem;
}

.map img{
  width: 80%;
  height: auto;
}


.logo1 img {
  width: 30%;
  height: auto;
}

.contact p{
  font-size: 0.8rem;
}

.contact{
  padding: 10px;
  }
  
  .information{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  }
  
  .icons{
  background-color: black;
  margin-left: 0;
  display: flex;
  justify-content: center;
  }

  .icons img {
    width: 25px;
    height: 25px;
    }
    
    input[placeholder="Enter your email address"] {
      font-size: 0.6rem;
      width: 78%;
      margin-left: 40px;
      padding: 10px;
      margin-bottom: 5px;
    }
    
    input[placeholder="Write your message"] {
      font-size: 0.6rem;
      width: 78%;
      margin-left: 40px;
      padding: 10px;
    }
    
    .send{
      padding: 5px;
      font-size: 0.8rem;
      margin-left: 40%; /* Adjust right margin for alignment */
      width: 20%; /* Make button width responsive */
      max-width: none; /* Remove max width for the button */
    }

  .connect h6{
    margin-top: 50px;
    font-size: 0.4rem;
  }
}


@media only screen and (min-width: 481px) and (max-width: 600px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 13%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 28px;
    font-size: 11px;
  }
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 11px;
  }  
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 13%;
    height: auto;
  }
  
  .navbar{
    margin-top: 8px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 30px;
    font-size: 13px;
  }
  
  .contact-us{
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 13px;
  }  
}


@media only screen and (min-width: 481px) and (max-width: 767px) {

.contact-sonic{
  padding: 20px;
}

.contact-sonic h2 {
  font-size: 1.5rem;
}

.contact-sonic p{
  font-size: 0.8rem;
  margin: 0 43px;
}
.circle-overlay {
  width: 36px; /* Adjust size of circle */
  height: 36px; /* Adjust size of circle */
}

.circle-img {
  padding: 10px; /* Adjust padding for circle image */
}

.get-in {
  margin-top: 20px;
  margin-left: 30px;
}

.get-in h2 {
  font-size: 1.3rem;
}

.get-in #get {
  font-size: 0.8rem;
  max-width: 95%;
}

.phone {
  margin-top: 20px;
}

.phone, .email, .address {
  flex-direction: row; /* Apply flex-direction: row on larger mobile screens */
  padding-bottom: 25px;
}



.phone-content h5, .phone-content p, .email-content h5, .email-content p, .address-content h5, .address-content p{
  font-size: 0.6rem;
  }


.divider {
  width: 60%; /* Adjust the width of the divider */
  margin-bottom: 20px;
}

.icon {
  flex-direction: row; /* Apply flex-direction: row for icons */
  gap: 15px;
}

.info {
  flex-direction: row; /* Change .info to row layout */
  align-items: center; /* Align items in a row */
}

.form {
  margin-top: -60px;
  margin-right: 20px;
  width: 235%; /* Full-width form on smaller screens */
  padding: 30px;
}

.form h2 {
  font-size: 1rem;
}

.form p {
  font-size: 0.6rem;
}

.form button {
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 5px 30px;
  font-size: 0.8rem;
}

.form #name, .form #mail, .form #sms{
  font-size: 0.6rem;
}


.map img{
  width: 60%;
  height: auto;
}

.logo1 img {
  width: 30%;
  height: auto;
}

.contact{
padding: 10px;
}

.contact p{
font-size: 0.8rem;
}

.icons {
height: 42px;
}

.icons a{
    padding: 5px;
    padding-top: 8px;
}

.icons img {
width: 20px;
height: 20px;
}

input[placeholder="Enter your email address"], input[placeholder="Write your message"]{
padding: 5px;
font-size: 0.5rem;
height: 42px;
}

.send{
padding: 9px;
font-size: 0.8rem;
margin-right: 5px;
}

.connect{
padding-bottom: 5px;
}

.connect h6{
  margin-top: 60px;
  font-size: 0.5rem;
}

}


@media only screen and (min-width: 768px) and (max-width: 930px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 15%;
    height: auto;
  }
  
  .navbar{
    margin-top: 15px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 42px;
    font-size: 14px;
  }
  
  .contact-us{
    margin-top: 15px;
    margin-left: 0;
    margin-right: 50px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 14px;
  }  
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .contact-sonic{
    padding: 20px;
  }
  
  .contact-sonic h2 {
    font-size: 1.5rem;
  }
  
  .contact-sonic p{
    font-size: 0.8rem;
    margin: 0 120px;
  }

  .circle-overlay {
    width: 50px; /* Adjust size of circle */
    height: 50px; /* Adjust size of circle */
  }
  
  .circle-img {
    padding: 13px; /* Adjust padding for circle image */
  }
  
  .get-in {
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .get-in h2 {
    font-size: 1.5rem;
  }
  
  .get-in #get {
    font-size: 0.8rem;
    max-width: 95%;
  }
  
  .phone {
    margin-top: 30px;
  }
  
  .phone, .email, .address {
    flex-direction: row; /* Apply flex-direction: row on larger mobile screens */
    padding-bottom: 30px;
  }
  
  .phone-content h5, .phone-content p, .email-content h5, .email-content p, .address-content h5, .address-content p{
    font-size: 0.8rem;
    }
  
  
  .divider {
    width: 60%; /* Adjust the width of the divider */
    margin-bottom: 20px;
  }
  
  .icon {
    flex-direction: row; /* Apply flex-direction: row for icons */
    gap: 15px;
  }
  
  .info {
    flex-direction: row; /* Change .info to row layout */
    align-items: center; /* Align items in a row */
  }
  
  .form {
    margin-top: 0px;
    margin-right: 20px;
    width: 235%; /* Full-width form on smaller screens */
    padding: 30px;
  }
  
  .form h2 {
    font-size: 1.5rem;
  }
  
  .form p {
    font-size: 0.8rem;
  }
  
  .form button {
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 6px 35px;
    font-size: 1rem;
  }
  
  .form #name, .form #mail, .form #sms{
    font-size: 0.8rem;
  }
  
  
  .map img{
    width: 60%;
    height: auto;
  }

  .logo1 img {
    width: 25%;
    height: auto;
}

.contact{
  padding-top: 5px;
}

.contact p{
  font-size: 0.8rem;
  }

  .icons a {
    padding: 7px;
    padding-top: 14px;
}

.icons img {
  width: 25px;
  height: 25px;
}


input[placeholder="Enter your email address"] {
  font-size: 0.6rem;
}


input[placeholder="Write your message"] {
  font-size: 0.6rem;
}

.send{
  font-size: 0.8rem;
  margin-right: 5px;
}

.connect h6{
  margin-top: 70px;
  font-size: 0.5rem;
}

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

.contact{
  padding-top: 20px;
}

.connect h6{
  margin-top: 80px;
  font-size: 0.5rem;
}

.icons a {
  padding: 7px;
  padding-top: 14px;
}

.icons img {
width: 25px;
height: 25px;
}


input[placeholder="Enter your email address"] {
font-size: 0.6rem;
}


input[placeholder="Write your message"] {
font-size: 0.6rem;
}

.send{
font-size: 0.8rem;
margin-right: 5px;
}

}

