*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


.front{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.front img{
  width: 12%;
  height: 120px;
  margin-top: -15px;
}

.navbar{
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
}

.navbar li{
  list-style: none;
}

.navbar li a{
  text-decoration: none;
  color: black;
  margin-left: 50px;
}

/* General styles for navbar links */
.navbar li a::after {
  content: "• • • •"; /* Four dots */
  display: block;
  margin: -8px auto;
  text-align: center;
  font-size: 14px; /* Adjust size as needed */
  margin-left: 50px;
  color: black;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease-in-out;
}

/* Highlight the active link based on the current page */
.navbar li a.active::after {
  opacity: 1; /* Make the dots visible for the active page */
}

.contact-us{
  margin-top: 30px;
  margin-left: 0;
  margin-right: 120px;
}

.contact-us a{
  text-decoration: none;
  color: black;
  background-color: #008515;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
}

main{
  background-color: black;
  padding-bottom: 80px;
}

.service{
  position: relative;
}

.service img{
  width: 100%;
  margin-top: 100px;
  margin-left: 250px
}

.service-content{
  position: absolute;
  bottom: 210px;
  left: 5%;
}

.service-content h2{
  font-size: 8rem;
  color: white;
}

.service-content h4{
  font-size: 8rem;
  color: white;
  font-weight: normal;
  margin-top: -65px;
}

.service-content p{
  color: white;
  font-size: 1rem;
  padding-top: 0px;
  max-width: 50%;
}

.get-in a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin-left: 50px;
}

.get-in span{
  color: #84FF00;
}

/* Container for the perfect holiday images */
.services {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

/* Individual image item */
.image-item {
  position: relative;
  width: 250px;
  text-align: center;
}

/* The main large image */
.main-image {
  position: relative;
  width: 105%;
  overflow: hidden; /* Ensure the circle image is clipped to the boundaries */
  transition: transform 0.3s ease; /* Smooth transition for hiding the image */
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
  transition: opacity 0.3s ease; /* Fade out the image */
}

.square{
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #84FF00;
  padding: 2px;
}

.square img{
  width: 25px;
  height: 25px;
}

/* Heading text under the large image */
.image-item h3 {
  font-size: 1.5rem;
  color: white;
  background-color: #282828;
  padding: 10px;
  width: 105%;
  margin-top: -5px;
  position: absolute;
  bottom: 4%;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

/* Paragraph text under the heading */
.ticket-text {
  color: white;
  background-color: #282828;
  padding: 10px;
  position: absolute;
  bottom: 0; /* Positioned below the heading */
  left: 0;
  width: 105%;
  transform: translateY(0%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0; /* Make text invisible initially */ 
  font-size: 1.1rem;
}

/* Hover effect */
.image-item:hover .main-image img {
  opacity: 0.3; /* Reduce visibility for background image */
}

.image-item:hover h3 {
  transform: translateY(-150%); /* Slide the title upwards */
}

.image-item:hover .ticket-text {
  transform: translateY(-10%); /* Slide the paragraph upwards */
  opacity: 1; /* Make the paragraph visible */
  background-color: white;
  color: black;
}

.contact{
  text-align: center;
  color: white;
  padding-top: 30px;
}

.information{
  display: flex;
  margin-top: 40px;
}

.connect{
background-color: black;
padding-bottom: 5px;
}

.logo1{
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
}

.logo1 img{
  width: 30%;
  height: 250px;
}


.icons{
  background-color: #3F4346;
  margin-left: 10px;
  display: flex;
}

.icons a{
  padding: 10px;
}

.icons img{
  width: 30px;
  height: 30px;
}

input::placeholder {
  color: white;
}

input[placeholder="Enter your email address"]{
  background-color: #3F4346;
  font-size: 0.8rem;
  width: 35%;
  margin-left: 5px;
  color: white;
  padding: 5px;
}

input[placeholder="Write your message"]{
  background-color: #1E2126;
  padding: 5px;
  font-size: 0.8rem;
  width: 45%;
  margin-left: 5px;
  color: white;
}

.send{
  border: 2px solid white;
  padding: 15px;
  font-size: 0.9rem;
  background-color: black;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.connect h6{
  text-align: center;
  color: white;
  margin-top: 100px;
}

.power a{
  color: royalblue;
  text-decoration: none;
}


/* Basic styling for the button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #008515;
  color: white;
  border: none;
  border-radius: 0px;
  padding: 12px;
  width: 50px;
  height: 40px;
  padding-top: 2px;
  font-size: 20px;
  cursor: pointer;
  display: none; /* Initially hidden */
  transition: 0.3s;
  z-index: 9999;
}

/* Responsive design */

@media only screen and (min-width: 320px) and (max-width: 400px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 16%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 10px;
    font-size: 8px;
  }

  .navbar li a::after{
    margin: -8px auto;
    font-size: 7px;
    margin-left: 18px;
  }
  
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 10px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 8px;
  }  

  .ticket-text{
    font-size: 0.4rem;
    bottom: -35px;
    padding: 2px;
    width: 110%;
    height: 120px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 480px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 16%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 11px;
    font-size: 10px;
  }

  .navbar li a::after{
    margin: -8px auto;
    font-size: 7px;
    margin-left: 18px;
  }
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 10px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 10px;
  }  

  .ticket-text{
    font-size: 0.5rem;
    bottom: -35px;
    padding: 2px;
    width: 110%;
    height: 120px;
  }
}


@media only screen and (max-width:480px){

  body{
    overflow-x: hidden;
  }

  main{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .service img {
    margin-top: 45px;
    margin-left: 80px;
    height: 200px;
}

.service-content {
  bottom: 12%;
  left: 10%;
}

.service-content h2{
  font-size: 2rem;
}

.service-content h4{
  font-size: 2rem;
  margin-top: -20px;
}

.service-content p{
  font-size: 0.5rem;
  max-width: 70%;
}

.get-in a{
  font-size: 0.8rem;
  margin-left: 20px;
}

.services{
  margin-top: 20px;
}

.image-item {
  width: 20%;
}

.main-image{
  width: 110%;
}

.square{
  top: 12%;
  left: 85%;
  height: 24px;
  width: 24px;
}

.square img {
  width: 20px;
  height: 20px;
}

.image-item h3{
  font-size: 0.6rem;
  padding: 2px;
  width: 110%;
  bottom: 6%;
}

.logo1 img {
  width: 30%;
  height: auto;
}

.contact{
padding: 10px;
}

.contact p{
  font-size: 0.8rem;
}

.information{
display: flex;
flex-direction: column;
margin-top: 20px;
}

.icons{
background-color: black;
margin-left: 5%;
display: flex;
justify-content: center;
}

.icons img {
  width: 25px;
  height: 25px;
  }
  
  input[placeholder="Enter your email address"] {
    font-size: 0.6rem;
    width: 78%;
    margin-left: 40px;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  input[placeholder="Write your message"] {
    font-size: 0.6rem;
    width: 78%;
    margin-left: 40px;
    padding: 10px;
  }
  
  .send{
    padding: 5px;
    font-size: 0.8rem;
    margin-left: 40%; /* Adjust right margin for alignment */
    width: 20%; /* Make button width responsive */
    max-width: none; /* Remove max width for the button */
  }

.connect h6{
  margin-top: 50px;
  font-size: 0.4rem;
}

.scroll-to-top {
  padding: 8px;
  width: 35px;
  height: 30px;
  font-size: 15px;
  padding-top: 2px;
}
}


@media only screen and (min-width: 481px) and (max-width: 600px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 13%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 28px;
    font-size: 11px;
  }

  .navbar li a::after{
    margin: -9px auto;
    font-size: 11px;
    margin-left: 27px;
  }
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 10px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 11px;
  } 
  
  .ticket-text{
    font-size: 0.6rem;
    bottom: -38%;
    padding: 2px;
    width: 110%;
    height: 150px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 13%;
    height: auto;
  }
  
  .navbar{
    margin-top: 8px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 30px;
    font-size: 13px;
  }

  .navbar li a::after {
    margin-left: 30px;
    font-size: 11px;
  }
  
  .contact-us{
    margin-top: 8px;
    margin-left: 0;
    margin-right: 10px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 13px;
  }  

  .ticket-text {
    font-size: 0.6rem;
    bottom: -1%;
    padding: 10px;
    width: 110%;
    height: 140px;
}

}

@media only screen and (min-width: 481px) and (max-width: 767px) {

  body{
    overflow-x: hidden;
  }

  main{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .service img {
    margin-top: 45px;
    margin-left: 80px;
    height: 250px;
}

.service-content {
  bottom: 14%;
  left: 4%;
}

.service-content h2{
  font-size: 2.5rem;
}

.service-content h4{
  font-size: 2.5rem;
  margin-top: -28px;
}

.service-content p{
  font-size: 0.7rem;
  max-width: 70%;
}

.get-in a{
  font-size: 0.8rem;
  margin-left: 20px;
}

.services{
  margin-top: 20px;
}

.image-item {
  width: 21%;
}

.main-image{
  width: 112%;
}

.square{
  top: 10%;
  left: 86%;
  height: 27px;
  width: 27px;
}

.square img {
  width: 23px;
  height: 23px;
}

.image-item h3{
  font-size: 0.6rem;
  padding: 2px;
  width: 110%;
  bottom: 6%;
}

.logo1 img {
  width: 30%;
  height: auto;
}

.contact{
padding: 10px;
}

.contact p{
font-size: 0.8rem;
}

.icons {
  height: 42px;
  }
  
  .icons a{
      padding: 5px;
      padding-top: 8px;
  }
  
  .icons img {
  width: 20px;
  height: 20px;
  }
  
  input[placeholder="Enter your email address"], input[placeholder="Write your message"]{
  padding: 5px;
  font-size: 0.5rem;
  height: 42px;
  }
  
  .send{
  padding: 9px;
  font-size: 0.8rem;
  margin-right: 5px;
  }
  

.connect{
padding-bottom: 5px;
}

.connect h6{
  margin-top: 60px;
  font-size: 0.5rem;
}

.scroll-to-top {
  padding: 8px;
  width: 35px;
  height: 30px;
  font-size: 15px;
  padding-top: 2px;
}

}


@media only screen and (min-width: 768px) and (max-width: 930px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 15%;
    height: auto;
  }
  
  .navbar{
    margin-top: 15px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 42px;
    font-size: 14px;
  }

  .navbar li a::after {
    margin-left: 40px;
    font-size: 12px;
  }
  
  .contact-us{
    margin-top: 15px;
    margin-left: 0;
    margin-right: 50px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 14px;
  }  

  .ticket-text{
    font-size: 0.8rem;
    bottom: -20px;
    padding: 8px;
    width: 114%;
    height: 180px;
  }
}

@media only screen and (min-width: 931px) and (max-width: 1024px) {

  .ticket-text{
    font-size: 0.8rem;
    bottom: -20px;
    padding: 8px;
    width: 114%;
    height: 160px;
  }

}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

  body{
    overflow-x: hidden;
  }

  main{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .service img {
    margin-top: 45px;
    margin-left: 140px;
    height: 400px;
}

.service-content {
  bottom: 30%;
  left: 6%;
}

.service-content h2{
  font-size: 4rem;
}

.service-content h4{
  font-size: 4rem;
  margin-top: -40px;
}

.service-content p{
  font-size: 0.7rem;
  max-width: 70%;
}

.get-in a{
  font-size: 1rem;
  margin-left: 20px;
}

.services{
  margin-top: 20px;
}

.image-item {
  width: 20%;
}

.main-image{
  width: 114%;
}

.square{
  top: 8%;
  left: 88%;
  height: 28px;
  width: 28px;
}

.square img {
  width: 23px;
  height: 23px;
}

.image-item h3{
  font-size: 0.8rem;
  padding: 2px;
  width: 114%;
  bottom: 4%;
}

.logo1 img {
  width: 25%;
  height: auto;
}

.contact{
padding-top: 20px;
}
.icons a {
  padding: 7px;
  padding-top: 14px;
}

.icons img {
width: 25px;
height: 25px;
}


input[placeholder="Enter your email address"] {
font-size: 0.6rem;
}


input[placeholder="Write your message"] {
font-size: 0.6rem;
}

.send{
font-size: 0.8rem;
margin-right: 5px;
}

.connect h6{
  margin-top: 70px;
  font-size: 0.5rem;
}

.scroll-to-top {
  padding: 8px;
  width: 35px;
  height: 30px;
  font-size: 15px;
  padding-top: 2px;
}

}


@media only screen and (min-width: 1025px) and (max-width: 1200px) {

  .service img{
  margin-top: 50px;
  margin-left: 160px;
}

  
.service-content {
  bottom: 39%;
  left: 4%;
}

.service-content h2{
  font-size: 5rem;
}

.service-content h4{
  font-size: 5rem;
  margin-top: -50px;
}

.service-content p{
  font-size: 0.9rem;
  max-width: 70%;
}

.image-item {
  width: 20%;
}

.main-image{
  width: 113%;
}

.image-item h3{
  font-size: 1rem;
  padding: 5px;
  width: 113%;
  bottom: 3%;
}

.ticket-text{
  font-size: 1rem;
  padding: 10px;
  width: 113%;
}

.logo1 img {
  width: 25%;
  height: auto;
}

.contact{
padding-top: 20px;
}


.icons a {
  padding: 7px;
  padding-top: 14px;
}

.icons img {
width: 25px;
height: 25px;
}


input[placeholder="Enter your email address"] {
font-size: 0.6rem;
}


input[placeholder="Write your message"] {
font-size: 0.6rem;
}

.send{
font-size: 0.8rem;
margin-right: 5px;
}


.connect h6{
  margin-top: 80px;
  font-size: 0.5rem;
}

}