*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}


body{
  overflow-x: hidden;
}

.front{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.front img{
  width: 12%;
  height: 120px;
  margin-top: -15px;
}

.navbar{
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
}

.navbar li{
  list-style: none;
}

.navbar li a{
  text-decoration: none;
  color: black;
  margin-left: 50px;
}

.contact-us{
  margin-top: 30px;
  margin-left: 0;
  margin-right: 120px;
}

.contact-us a{
  text-decoration: none;
  color: black;
  background-color: #008515;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
}


main{
  background-color: black;
  padding-bottom: 80px;
}

.service{
  position: relative;
}

.service img{
  width: 100%;
  margin-top: 100px;
  margin-left: 250px
}

.service-content{
  position: absolute;
  bottom: 210px;
  left: 5%;
}

.service-content h2{
  font-size: 8rem;
  color: white;
}

.service-content h4{
  font-size: 8rem;
  color: white;
  font-weight: normal;
  margin-top: -65px;
}

.service-content p{
  color: white;
  font-size: 1rem;
  padding-top: 0px;
  max-width: 50%;
}

.get-in a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin-left: 50px;
}

.get-in span{
  color: #84FF00;
}

/* Container for the perfect holiday images */
.services {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

/* Individual image item */
.image-item {
  position: relative;
  width: 250px;
  text-align: center;
}


/* The main large image */
.main-image {
  position: relative;
  width: 105%;
  overflow: hidden; /* Ensure the circle image is clipped to the boundaries */
  transition: transform 0.3s ease; /* Smooth transition for hiding the image */
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
  transition: opacity 0.3s ease; /* Fade out the image */
}

.square{
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #84FF00;
  padding: 2px;
}

.square img{
  width: 25px;
  height: 25px;
}

/* Heading text under the large image */
.image-item h3 {
  font-size: 1.5rem;
  color: white;
  background-color: #282828;
  padding: 10px;
  width: 105%;
  margin-top: -5px;
  position: absolute;
  bottom: 4%;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}


/* Paragraph text under the heading */
.ticket-text {
  color: white;
  background-color: #282828;
  padding: 10px;
  position: absolute;
  bottom: 0; /* Positioned below the heading */
  left: 0;
  width: 105%;
  transform: translateY(0%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0; /* Make text invisible initially */ 
  font-size: 1.1rem;
}

/* Hover effect */
.image-item:hover .main-image img {
  opacity: 0.3; /* Reduce visibility for background image */
}

.image-item:hover h3 {
  transform: translateY(-150%); /* Slide the title upwards */
}

.image-item:hover .ticket-text {
  transform: translateY(-10%); /* Slide the paragraph upwards */
  opacity: 1; /* Make the paragraph visible */
  background-color: white;
  color: black;
}

.contact{
  text-align: center;
  color: white;
  padding-top: 30px;
}

.information{
  display: flex;
  margin-top: 40px;
}

.connect{
background-color: black;
padding-bottom: 80px;
}

.logo1{
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
}

.logo1 img{
  width: 30%;
  height: 250px;
}

.icons{
  background-color: #3F4346;
  margin-left: 20px;
  padding: 16px;
}

.icons a{
  margin-left: 20px;
}

.icons img{
  width: 35px;
  height: 35px;
}

input::placeholder {
  color: white;
}

.email-section input{
  background-color: #3F4346;
  padding: 25px;
  font-size: 1rem;
  width: 150%;
  margin-left: 5px;
  color: white;
}

.message input{
  background-color: #1E2126;
  padding: 25px;
  font-size: 1rem;
  width: 130%;
  margin-left: 140px;
}

.btn button{
  border: 2px solid white;
  padding: 18px;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  margin-left: 265px;
  cursor: pointer;
}


/* Responsive design */

@media only screen and (min-width: 320px) and (max-width: 400px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 16%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 10px;
    font-size: 8px;
  }
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 8px;
  }  
}

@media only screen and (min-width: 401px) and (max-width: 480px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 16%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 11px;
    font-size: 10px;
  }
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 10px;
  }  
}


@media only screen and (max-width:480px){

  .service img {
    margin-top: 45px;
    margin-left: 80px;
    height: 200px;
}

.service-content {
  bottom: 12%;
  left: 10%;
}

.service-content h2{
  font-size: 2rem;
}

.service-content h4{
  font-size: 2rem;
  margin-top: -20px;
}

.service-content p{
  font-size: 0.5rem;
  max-width: 70%;
}

.get-in a{
  font-size: 0.8rem;
  margin-left: 20px;
}

.services{
  margin-top: 20px;
}

.image-item {
  width: 20%;
}

.main-image{
  width: 110%;
}

.square{
  top: 12%;
  left: 85%;
  height: 24px;
  width: 24px;
}

.square img {
  width: 20px;
  height: 20px;
}

.image-item h3{
  font-size: 0.6rem;
  padding: 2px;
  width: 110%;
  bottom: 6%;
}

.ticket-text{
  font-size: 0.5rem;
  bottom: -50px;
  padding: 2px;
  width: 110%;
}

.logo1 img {
  width: 30%;
  height: auto;
}

.contact{
padding: 10px;
}

.contact p{
  font-size: 0.8rem;
}

.icons img {
  width: 30px;
  height: 30px;
}

.information{
display: flex;
flex-direction: column;
margin-top: 20px;
}

.email-section input, .message input{
padding: 16px;
width: 92%;
font-size: 0.6rem;
margin-left: 15px;
}


.icons{
background-color: black;
margin-left: 5%;
}


.btn button {
padding: 10px;
font-size: 0.9rem;
margin-left: 32%; /* Adjust right margin for alignment */
width: 30%; /* Make button width responsive */
max-width: none; /* Remove max width for the button */
}

}


@media only screen and (min-width: 481px) and (max-width: 600px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 13%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 28px;
    font-size: 11px;
  }
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 11px;
  }  
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 13%;
    height: auto;
  }
  
  .navbar{
    margin-top: 8px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 30px;
    font-size: 13px;
  }
  
  .contact-us{
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 13px;
  }  
}

@media only screen and (min-width: 481px) and (max-width: 767px) {

  .service img {
    margin-top: 45px;
    margin-left: 80px;
    height: 200px;
}

.service-content {
  bottom: 12%;
  left: 10%;
}

.service-content h2{
  font-size: 2rem;
}

.service-content h4{
  font-size: 2rem;
  margin-top: -20px;
}

.service-content p{
  font-size: 0.5rem;
  max-width: 70%;
}

.get-in a{
  font-size: 0.8rem;
  margin-left: 20px;
}

.services{
  margin-top: 20px;
}

.image-item {
  width: 20%;
}

.main-image{
  width: 110%;
}

.square{
  top: 12%;
  left: 85%;
  height: 24px;
  width: 24px;
}

.square img {
  width: 20px;
  height: 20px;
}

.image-item h3{
  font-size: 0.6rem;
  padding: 2px;
  width: 110%;
  bottom: 6%;
}

.ticket-text{
  font-size: 0.5rem;
  bottom: -50px;
  padding: 2px;
  width: 110%;
}

.logo1 img {
  width: 30%;
  height: auto;
}

.contact{
padding: 10px;
}

.contact p{
font-size: 0.8rem;
}

.icons {
background-color: black;
display: flex;
justify-content: center;
margin-left: 0;
}

.icons img {
width: 30px;
height: 30px;
}

.information{
display: flex;
flex-direction: column;
margin-top: 5px;
}

.email-section input, .message input{
padding: 14px;
width: 72%;
font-size: 0.7rem;
margin-left: 14%;
}

.btn button {
padding: 10px;
font-size: 0.9rem;
margin-left: 45%; /* Adjust right margin for alignment */
width: 15%; /* Make button width responsive */
max-width: none; /* Remove max width for the button */
}

.connect{
padding-bottom: 60px;
}

}



@media only screen and (min-width: 768px) and (max-width: 930px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 15%;
    height: auto;
  }
  
  .navbar{
    margin-top: 15px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 42px;
    font-size: 14px;
  }
  
  .contact-us{
    margin-top: 15px;
    margin-left: 0;
    margin-right: 50px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 14px;
  }  
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .service img {
    margin-top: 45px;
    margin-left: 80px;
    height: 200px;
}

.service-content {
  bottom: 12%;
  left: 10%;
}

.service-content h2{
  font-size: 2rem;
}

.service-content h4{
  font-size: 2rem;
  margin-top: -20px;
}

.service-content p{
  font-size: 0.5rem;
  max-width: 70%;
}

.get-in a{
  font-size: 0.8rem;
  margin-left: 20px;
}

.services{
  margin-top: 20px;
}

.image-item {
  width: 20%;
}

.main-image{
  width: 110%;
}

.square{
  top: 12%;
  left: 85%;
  height: 24px;
  width: 24px;
}

.square img {
  width: 20px;
  height: 20px;
}

.image-item h3{
  font-size: 0.6rem;
  padding: 2px;
  width: 110%;
  bottom: 6%;
}

.ticket-text{
  font-size: 0.5rem;
  bottom: -50px;
  padding: 2px;
  width: 110%;
}
}