*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body{
  overflow-x: hidden;
}

.front{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.front img{
  width: 12%;
  height: 120px;
  margin-top: -15px;
}

.navbar{
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
}

.navbar li{
  list-style: none;
}

.navbar li a{
  text-decoration: none;
  color: black;
  margin-left: 50px;
}

.contact-us{
  margin-top: 30px;
  margin-left: 0;
  margin-right: 120px;
}

.contact-us a{
  text-decoration: none;
  color: black;
  background-color: #008515;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
}

.visa img{
  width: 100%;
  margin-top: 0;
}

.visa-content{
  position: relative;
  left: 0%;
  text-align: center;
  bottom: 260px;
  color: white;
}

.visa-content h3{
  font-size: 5rem;
}

.visa-content p{
  font-size: 1.2rem;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 200px;
}

.box {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.header {
  background-color: #184341;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.content {
  padding: 20px;
}

.content h3{
  text-align: center;
  color: #003179;
  font-size: 2rem;
  padding-bottom: 20px;
}

.content p{
  font-size: 1.1rem;
}

.regular{
  padding-bottom: 30px;
}

.content button{
  padding: 10px 50px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 30px;
  transition: background-color 0.5s ease; /* For smooth background transition */
}

.content button:hover{
  background-color: #51FF00;
}

.down-content p{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -100px !important;
  margin: 0 150px;
}

.contact{
  text-align: center;
  color: white;
  padding-top: 30px;
}

.information{
  display: flex;
  margin-top: 40px;
}

.connect{
background-color: black;
padding-bottom: 5px;
}

.logo1{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: #F7F7F7;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.2);
}

.logo1 img{
  width: 30%;
  height: 250px;
}

.icons{
  background-color: #3F4346;
  margin-left: 10px;
  display: flex;
}

.icons a{
  padding: 10px;
}

.icons img{
  width: 30px;
  height: 30px;
}

input::placeholder {
  color: white;
}

input[placeholder="Enter your email address"]{
  background-color: #3F4346;
  font-size: 0.8rem;
  width: 35%;
  margin-left: 5px;
  color: white;
  padding: 5px;
}

input[placeholder="Write your message"]{
  background-color: #1E2126;
  padding: 5px;
  font-size: 0.8rem;
  width: 45%;
  margin-left: 5px;
  color: white;
}

.send{
  border: 2px solid white;
  padding: 15px;
  font-size: 0.9rem;
  background-color: black;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.connect h6{
  text-align: center;
  color: white;
  margin-top: 100px;
}

.power a{
  color: royalblue;
  text-decoration: none;
}


/* Responsive Design */
@media only screen and (min-width: 320px) and (max-width: 400px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 16%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 10px;
    font-size: 7px;
  }
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 8px;
  }  
}


@media only screen and (min-width: 401px) and (max-width: 480px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 16%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 11px;
    font-size: 10px;
  }
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 10px;
  }  
}


@media only screen and (max-width: 480px) {

  .visa img{
    height: 200px;
  }

  .visa-content h3 {
    font-size: 1.1rem;
}

  .visa-content p {
    font-size: 0.6rem;
}

.visa-content{
  bottom: 140px;
}

.container{
  bottom: 75px;
  display: flex;
  flex-direction: column;
}

.box{
  width: 80%;
  height: auto;
  margin-left: 40px;
}

.header{
  font-size: 0.9rem;
  padding: 6px;
}

.content h3{
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.content p {
  font-size: 0.8rem;
  text-align: center;
}

.regular {
  padding-bottom: 10px;
}

.content button {
  padding: 2px 10px;
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-left: 32%;
  width: 35%;
  max-width: none;
}

.down-content p{
  font-size: 0.7rem;
  margin: -30px 10px !important;
}

.logo1 img {
  width: 30%;
  height: auto;
}

.contact p{
  font-size: 0.8rem;
}


.contact{
padding: 10px;
}

.information{
display: flex;
flex-direction: column;
margin-top: 20px;
}

.icons{
background-color: black;
margin-left: 0;
display: flex;
justify-content: center;
}

.icons img {
  width: 25px;
  height: 25px;
  }
  
  input[placeholder="Enter your email address"] {
    font-size: 0.6rem;
    width: 78%;
    margin-left: 40px;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  input[placeholder="Write your message"] {
    font-size: 0.6rem;
    width: 78%;
    margin-left: 40px;
    padding: 10px;
  }
  
  .send{
    padding: 5px;
    font-size: 0.8rem;
    margin-left: 40%; /* Adjust right margin for alignment */
    width: 20%; /* Make button width responsive */
    max-width: none; /* Remove max width for the button */
  }

.connect h6{
  margin-top: 50px;
  font-size: 0.4rem;
}

}


@media only screen and (min-width: 481px) and (max-width: 600px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 13%;
    height: auto;
  }
  
  .navbar{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 28px;
    font-size: 11px;
  }
  
  .contact-us{
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 11px;
  }  
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 13%;
    height: auto;
  }
  
  .navbar{
    margin-top: 8px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 30px;
    font-size: 13px;
  }
  
  .contact-us{
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 2px 2px;
    font-size: 13px;
  }  
}

@media only screen and (min-width: 481px) and (max-width: 767px) {

  .visa img{
    height: 220px;
  }

  .visa-content h3 {
    font-size: 1.5rem;
}

  .visa-content p {
    font-size: 0.7rem;
}

.visa-content{
  bottom: 140px;
}

.container{
  bottom: 75px;
}

.box{
  width: 24%;
  height: auto;
}

.header{
  font-size: 0.8rem;
  padding: 6px;
}

.content h3{
  font-size: 1rem;
  padding-bottom: 12px;
}

.content p {
  font-size: 0.6rem;
}

.regular {
  padding-bottom: 20px;
}

.content button {
  padding: 2px 5px;
  font-size: 0.7rem;
  margin-bottom: 20px;
  margin-left: 0;
}

.down-content p{
  font-size: 0.8rem;
  margin: -35px 30px !important;
}


.logo1 img {
  width: 30%;
  height: auto;
}

.contact{
padding: 10px;
}

.contact p{
font-size: 0.8rem;
}
.icons {
  height: 42px;
  }
  
  .icons a{
      padding: 5px;
      padding-top: 8px;
  }
  
  .icons img {
  width: 20px;
  height: 20px;
  }
  
  input[placeholder="Enter your email address"], input[placeholder="Write your message"]{
  padding: 5px;
  font-size: 0.5rem;
  height: 42px;
  }
  
  .send{
  padding: 9px;
  font-size: 0.8rem;
  margin-right: 5px;
  }
  
.connect{
padding-bottom: 5px;
}

.connect h6{
  margin-top: 60px;
  font-size: 0.5rem;
}

}


}

@media only screen and (min-width: 768px) and (max-width: 930px) {
  
  .front{
    margin-top: 15px;
  }
  
  .front img{
    width: 15%;
    height: auto;
  }
  
  .navbar{
    margin-top: 15px;
    margin-left: 0px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar li a{
    margin-left: 42px;
    font-size: 14px;
  }
  
  .contact-us{
    margin-top: 15px;
    margin-left: 0;
    margin-right: 50px;
  }
  
  .contact-us a{
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 14px;
  }  
}
  

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .visa img{
    height: 250px;
  }

  .visa-content h3 {
    font-size: 2.5rem;
}

  .visa-content p {
    font-size: 1rem;
}

.visa-content{
  bottom: 190px;
}

.container{
  bottom: 116px;
}

.box{
  width: 24%;
  height: auto;
}

.header{
  font-size: 0.9rem;
  padding: 6px;
}

.content h3{
  font-size: 1.2rem;
  padding-bottom: 16px;
}

.content p {
  font-size: 0.8rem;
}

.regular {
  padding-bottom: 25px;
}

.content button {
  padding: 5px 10px;
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-left: 45px;
}

.down-content p{
  font-size: 1rem;
  margin: -35px 80px !important;
}

.logo1 img {
  width: 25%;
  height: auto;
}

.contact{
padding-top: 20px;
}
.icons a {
  padding: 7px;
  padding-top: 14px;
}

.icons img {
width: 25px;
height: 25px;
}


input[placeholder="Enter your email address"] {
font-size: 0.6rem;
}


input[placeholder="Write your message"] {
font-size: 0.6rem;
}

.send{
font-size: 0.8rem;
margin-right: 5px;
}

.connect h6{
  margin-top: 70px;
  font-size: 0.5rem;
}

}


@media only screen and (min-width: 1025px) and (max-width: 1200px) {

  .visa img{
    height: 250px;
  }

  .visa-content h3 {
    font-size: 2.5rem;
}

  .visa-content p {
    font-size: 1rem;
}

.visa-content{
  bottom: 190px;
}

.container{
  bottom: 116px;
}

.box{
  width: 24%;
  height: auto;
}

.header{
  font-size: 0.9rem;
  padding: 6px;
}

.content h3{
  font-size: 1.2rem;
  padding-bottom: 16px;
}

.content p {
  font-size: 0.8rem;
}

.regular {
  padding-bottom: 25px;
}

.content button {
  padding: 5px 10px;
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-left: 45px;
}

.down-content p{
  font-size: 1rem;
  margin: -35px 80px !important;
}

.contact{
  padding-top: 20px;
}

.icons a {
  padding: 7px;
  padding-top: 14px;
}

.icons img {
width: 25px;
height: 25px;
}


input[placeholder="Enter your email address"] {
font-size: 0.6rem;
}


input[placeholder="Write your message"] {
font-size: 0.6rem;
}

.send{
font-size: 0.8rem;
margin-right: 5px;
}


.connect h6{
  margin-top: 80px;
  font-size: 0.5rem;
}

}